<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/mystyle.css"/>
</head>
<body>
Таблица студентов (Имя, возраст)

    <table>
        <tr th:each="row:${rows}">
            <td th:text="${row.id}"/>
            <td th:text="${row.name}"/>
            <td th:text="${row.age}"/>
            <td>
                <a th:href="@{/delete/{id}(id=${row.id})}">Delete</a>
                <a th:href="@{/update/{id}(id=${row.id})}">Edit</a>
            </td>
        </tr>
    </table>

<form method="post" th:action="@{/add}" th:object="${new_student}">
    <label for="name">Name:</label>
    <input type="text" id="name" th:field="*{name}"/>

    <label for="age">Age:</label>
    <input type="number" id="age" th:field="*{age}"/>

    <button type="submit">Add</button>
</form>

</body>
</html>
